.deshboardHead {
    background-color: aliceblue;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    height: 50px;
    padding:0px 20px 0px 20px;
}

.searchBoxContainer {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 18px;
}





